@import 'node_modules/bootstrap/dist/css/bootstrap.css';


.page_container p{
    color: rgb(138, 127, 127);
}

.content-container{
    background-color: rgb(243,244,246);
    
}
.content-container:hover{
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}

.content-container .content-link{
    color: rgb(127, 158, 181);
    text-decoration: underline;
}

samp {
    font-family: monospace;
  }