.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

  .navs > ul {
  background-color: rgb(230, 230, 230);
  list-style: none;
  margin: 0;
  padding: 0;
}

.loader_div {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100vw;
  height: 100vh;  
}

.full {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.tag_div {
  position :absolute;
  left : 200px;
}
.div_simple{
  position: absolute;
  text-align: center;
  top: 200px;
  left:565px;
}
.s {
	color: rgb(30, 144, 255);
  font-size: 40px;
}
.i {
	color: rgb(0, 0, 205);
  font-size: 40px;
}
.m {
	color: rgb(72, 61, 139);
  font-size: 40px;
}
.p {
	color: rgb(25, 25, 112);
  font-size: 40px;
}
.l {
	color: rgb(0, 191, 255);
  font-size: 40px;
}
.e {
	color: rgb(65 105 225	);
  font-size: 40px;
}
.share {
  background-color: blue;
  position: absolute;
  left:50px
}