.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.footer {
  position: relative;
  bottom: 0%;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

  .navs > ul {
  background-color: rgb(230, 230, 230);
  list-style: none;
  margin: 0;
  padding: 0;
}

.loader_div {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100vw;
  height: 100vh;  
}

.full {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.tag_div {
  position :absolute;
  left : 200px;
}
.div_loader{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
.s {
	color: rgb(30, 144, 255);
  font-size: 40px;
}
.i {
	color: rgb(0, 0, 205);
  font-size: 40px;
}
.m {
	color: rgb(72, 61, 139);
  font-size: 40px;
}
.p {
	color: rgb(25, 25, 112);
  font-size: 40px;
}
.l {
	color: rgb(0, 191, 255);
  font-size: 40px;
}
.e {
	color: rgb(65 105 225	);
  font-size: 40px;
}
.share {
  background-color: blue;
  position: absolute;
  left:50px
}
.footer_page {
  position: relative;
  left : 0%;
}
.div_simple_word{
  position: relative;
  right : 7%;
}
.load_more {
  position:absolute;
  left:50%;
}


.loadin_p {
  background: linear-gradient(90deg,#CCE5FF,#1E90FF,#7F00FF,#00CC66);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 5s linear infinite; 
}
.loading_s {
  background: linear-gradient(90deg,#CCE5FF,#1E90FF,#7F00FF,#00CC66);
  background-size: 400%;
  font-size: 70px;
  font-family: sans-serif;
  letter-spacing: 5px;
  font-weight: 600;
  word-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%{
    background-position:0%;
  }
  100%{
    background-position:400%;
  }
}